.revdarrow,.revuarrow,.propthp,.document_detail,.editIcon,.popup_css,.editwritericon_css,.editsheeticon_css,.editshowicon_css,.writericon_css,.sheeticon_css,.showicon_css,.popdown_css,.close_css,.startlogo_css,.searchcenter_css,.importicon_css,.importcloseicon_css,.recentdocs_css,.mypictures_css,.mymusic_css,.myvideos_css,.mydocs_css,.myfiles_css,.mypresentations_css,.myspreadsheets_css,.zipicon_css,.actionszipicon_css,.actionsmailicon_css,.mailicon_css,.undefinedtypeicon_css,.pdficon_css,.videoimageicon_css,.imageicon_css,.htmlicon_css,.musicicon_css,.shareicon_css,.sharemenuicon_css,.normalcheckboxicon_css,.mouseovercheckboxicon_css,.selectcheckboxicon_css,.normalallcheckboxicon_css,.selectallcheckboxicon_css,.listviewicon_css,.thumbnailviewicon_css,.openicon_css,.movetoicon_css,.copytoicon_css,.editicon_css,.viewicon_css,.createnewicon_css,.createnewhovericon_css,.viewsicon_css,.viewshovericon_css,.feed-icon,.downarrow_css,.delete_css,.plus_css,.disablecheckbox_css,.foldericon_css,.tagicon_css,.tagicon,.exporticon_css,.downloadicon_css,.downloadinlineicon_css,.restoreicon_css,.rename_css,.toolbareditws,.toolbaruploadactive,.toolbarshareactive,.toolbarshareinactive,.toolbartagactive,.toolbartaginactive,.toolbarmoveactive,.toolbarmoveinactive,.toolbarcopyactive,.toolbarcopyinactive,.toolbardeleteactive,.toolbardeleteinactive,.toolbarrestoreactive,.toolbarrestoreinactive,.toolbaractioninactive,.grid-tab-button,.toolbarTable,.createfoldericon_css,.selectedtab,.selectedtab_lbar,.seltab_close_lbar,.tabclose_css,.editactiveicon_css,.editinactiveicon_css,.downloadinactiveicon_css,.expandAll,.collapseAll,.toolbarcreateactive,.writermenuicon,.sheetmenuicon,.showmenuicon,.foldericon,.preDis,.nextDis,.prev,.next,.unzipicon_css,.minus,.plus,.openFolder,.closeFolder,.shareLeft,.trashLeft,.trashlt,.shareTome,.shareByme,.group_icon,.org_icon,.DownArrow,.DownArrowH,.toolBarDownArrow,.UpArrow,.UpArrowH,.dragDropArrow,.user_icon,.shareuser_icon,.sharegroup_icon,.shareorg_icon,.shareorggroup_icon,.uploadfiledelete,.uploadfiledeleteSelector,.browseBtn,.propertiesicon,.addTagicon_css,.usertagicon_css,.tagicon_css_list,.updateVersion_css,.actionsdownloadicon_css,.tabfoldericon_css,.tabtagicon_css,.tabgroupicon_css,.collapse-all,.expand-all,.tabgroupicon_css,.leftmenugroupicon,.leftmenuorggroupicon,.grouptitle-icon,.creategroup-icon,.groupchat-icon,.groupmail-icon,.organaization-icon,.createorggroup-icon,.orgchat-icon,.orgmail-icon,.chat-activeIcon,.chat-busyIcon,.chat-idleIcon,.chat-deactiveIcon,.grouphome-Icon,.chat-icon,.groupmemberlist-Icon,.admin-Icon,.contactnormalcheckbox,.contactselectcheckbox,.contactallnormalcheckbox,.contactallselectcheckbox,.newmenugroupicon,.addmemberIcon,.contactDelete,.ws,.ws_sharedetails,.ws_add,.ws_open,.sharedws,.sharedws_open,.reviewsIcon_css,.inactive-favIcon,.active-favIcon,.inactive-starIcon,.active-starIcon,.reviewsIcon,.checkinicon,.checkouticon,.mycheckout_css,.checkin_inactive,.delete_icon,.detail_icon,.invite_icon,ul.notes li,.all-files,.sr-imageicon_css,.sr-musicicon_css,.sr-video-icon,.sr-pdficon_css,.sr-zipicon_css,.filterbg,.showgoogleicon,.nav_arrow,.works_hd,.createsubfolder,.mark,.searchgo,.openinwindow_css,.view_css,.bulkupload_css,.review_arrow,.checkinicon_locked,.refresh_icon,.share-bg,.full_preview,.normal_preview,.action-css,.openicon_newwindow,.add-workspaces,.delete-small,.document-name,.content-search,.author-name,.search-all,.movearrow,.alert-icon,.info-icon,.org-mem-chat,.search_arrow,.search_arrow:hover,.searcharrow,.searchgo,.ws-invite,.ws-unsubs,.ws-upload,.ws-chat,.ws-share,.ws-shared-chat,.grey-arrow,.share-remove,.ws-sm,.create_new,.create_folder,.create_group,.email-in,.filesend,.create_wsfolder,.viewer,.collaborator,.co-owner,.addnote,.comment,.ws-detail,.foldercreate_css,.mail-edit,.mail-hide,.ws-inviteuser,.feed_lftarrow,.feed_rhtarrow,.close_icon,.info_icon,.grey_close_icon,.blue-info,.template,.success,.un-success,.downarrow-icon,.uparrow-icon,.searchIcon,.select-icon,.history-icon,.chart-icon,.pie-icon,.fetch-icon,.propertiesicon_css,.ac-plus,.ac-minus,.recentdocs,.favorite-files,.ui-xlsx,.ui-xls,.ui-ods,.ui-csv,.ui-pdf,.ui-gnumeric,.ui-doc,.ui-docx,.ui-odt,.ui-sxw,.ui-sxc,.ui-sxi,.ui-rtf,.ui-html,.ui-pps,.ui-ppt,.ui-pptx,.ui-ppsx,.ui-odp,.ui-txt,.ui-tsv,.calendarIcon,.ui-icon-circle-triangle-w,.ui-icon-circle-triangle-e,.edit-gdocs,.lock-icon,.delete-grey,.cm-arrow,.add-task,.ts-notic,.add-task-notic,.lfteditwritericon_css,.lfteditsheeticon_css,.lfteditshowicon_css,.lftimageicon_css,.lftmusicicon_css,.lftvideoimageicon_css,.getstart,.add-task_datagrid,.downloadinlineicon_datagrid,.search-ui,.search-tickmark,.breadcms,.prevzip,.prevpdf,.prevmp3,.prevmp4,.dprogmax,.dprogmin,.dprogmix,.ts-noticbtm,.orgpublic-icon,.backfile,.ws-addfile,.zdcembed,.zdcfb,.zdctwit,.ui-setting,.ownedbyme,.dropbox-icon,.ws-addgroup,.templt-lft,.templt-rht,.zdczomminus,.zdczomplus,.zdcrotatlft,.zdcrotatrht,.pptslide,.error-msg,.ws-auth,.wsl-pws,.wsl-sws,.feed-notic,.home-dash,.zfd-comment,.zfd-action,.zfd-upload,.zfd-task,.uplduparrow,.zfd-checkin,.zfd-checkout,.zfd-share,.zfd-cmn,.zfd-sts,.error-msg,.ws-auth,.docprvew,.zfd-orgmem,.docprvew,.wsl-org,.syncmac,.syncwindow,.synclinux,.syncplug,.adminpanel_icon,.download-sml,.docview-sml,.reque-access,.feed-stas,.feed-cmnstat,.feed-vply,.feed-permalink,.feed-uploaded,.fold_shared,.acc-right-arrow,.acc-down-arrow,.orgpubliclock-icon,.downarrow,.prolificusers,.uplduparrow,.arrow_transp,.active-favoritesIcon,.inactive-favoritesIcon,.zpr-add-task,.zpr-comment,.zpr-download,.zpr-share,.zpr-closebtn,.zpr-fullscr,.zfeed-ws,.zfeed-folder,.zfeed-taskdue,.zfd-pause,.zfd-play,.zfeed-attach,.formicongrey_css,.formicon_css,.file-newtabview,.ews-user,.ews-groupuser,.ews-role,.ews-roleadd,.as-stats {
    background-image: url(images/index-img.gif) !important;
    background-repeat: no-repeat;
}

.download-sml {
    background-position: -29px -3315px;
    width: 12px;
    height: 12px;
}

.docview-sml {
    background-position: -49px -3316px;
    width: 14px;
    height: 12px;
}

.lfteditwritericon_css {
    background-position: -90px -558px;
    width: 16px;
    height: 16px;
}

.lfteditsheeticon_css {
    float: left;
    background-position: -108px -558px;
    width: 16px;
    height: 16px;
}

.lfteditshowicon_css {
    background-position: -127px -558px;
    width: 16px;
    height: 18px;
}

.lftimageicon_css {
    background-position: -149px -558px;
    width: 16px;
    height: 16px;
}

.lftmusicicon_css {
    background-position: -171px -558px;
    width: 16px;
    height: 16px;
}

.lftvideoimageicon_css {
    background-position: -194px -558px;
    width: 16px;
    height: 16px;
}

.orgpublic-icon {
    background-position: -131px -2519px;
    width: 16px;
    height: 16px;
}

.feed-permalink {
    background-position: -120px -4529px;
    width: 60px;
    height: 60px;
}

.reque-access {
    background-position: -3px -2584px;
    width: 16px;
    height: 16px;
}

.feed-stas {
    background-position: -30px -2584px;
    width: 16px;
    height: 16px;
}

.feed-cmnstat {
    background-position: -2px -4530px;
    width: 60px;
    height: 60px;
}

.feed-uploaded {
    background-position: -56px -2583px;
    width: 16px;
    height: 16px;
}

.popdown_css {
    background-position: -131px -140px;
    width: 13px;
    height: 13px;
}

.popup_css {
    background-position: -151px -140px;
    width: 13px;
    height: 13px;
}

.editwritericon_css {
    background-position: -39px -139px;
    width: 16px;
    height: 18px;
}

.editsheeticon_css {
    float: left;
    background-position: -57px -139px;
    width: 16px;
    height: 18px;
}

.editshowicon_css {
    background-position: -76px -139px;
    width: 16px;
    height: 18px;
}

.edit-gdocs {
    background-position: -4px -3691px;
    width: 16px;
    height: 16px;
}

.writericon_css {
    float: left;
    background-position: -58px -90px;
    width: 16px;
    height: 16px;
}

.sheeticon_css {
    background-position: -4px -2969px;
    width: 16px;
    height: 16px;
}

.showicon_css {
    background-position: -4px -3002px;
    width: 16px;
    height: 19px;
}

.close_css {
    background-position: -42px -163px;
    width: 16px;
    height: 16px;
}

.startlogo_css {
    background-position: -5px -226px;
    width: 139px;
    height: 31px;
}

.searchcenter_css {
    background-position: 0 -57px;
    background-repeat: repeat;
    height: 17px;
    text-align: right;
}

.importicon_css {
    background-position: -4px -1485px;
    width: 12px;
    height: 12px;
}

.importcloseicon_css {
    background-position: -54px -320px;
    width: 15px;
    height: 15px;
}

.recentdocs_css {
    background-position: -4px -370px;
    width: 16px;
    height: 16px;
}

.mypictures_css {
    background-position: -4px -391px;
    width: 16px;
    height: 16px;
}

.mymusic_css {
    background-position: -4px -414px;
    width: 16px;
    height: 16px;
}

.myvideos_css {
    background-position: -4px -435px;
    width: 17px;
    height: 17px;
}

.mydocs_css {
    background-position: -4px -458px;
    width: 16px;
    height: 16px;
}

.myfiles_css {
    background-position: -76px -348px;
    width: 16px;
    height: 16px;
}

.rename_css {
    background-position: -4px -1549px;
    height: 14px;
    width: 17px;
}

.mypresentations_css {
    background-position: -4px -481px;
    width: 16px;
    height: 16px;
}

.myspreadsheets_css {
    background-position: -4px -502px;
    width: 19px;
    height: 16px;
}

.zipicon_css {
    background-position: -4px -547px;
    width: 16px;
    height: 16px;
}

.actionszipicon_css {
    background-position: -4px -3038px;
    width: 16px;
    height: 16px;
}

.actionsmailicon_css {
    background-position: 0 -3071px;
}

.mailicon_css {
    background-position: -12px -3075px;
    height: 15px;
    width: 20px;
}

.undefinedtypeicon_css {
    background-position: -4px -569px;
    width: 16px;
    height: 18px;
}

.pdficon_css {
    background-position: -4px -640px;
    width: 16px;
    height: 16px;
}

.videoimageicon_css {
    background-position: -5px -663px;
    width: 16px;
    height: 16px;
    margin-top: 4px;
}

.imageicon_css {
    background-position: -4px -684px;
    width: 16px;
    height: 16px;
}

.htmlicon_css {
    background-position: -4px -709px;
    width: 16px;
    height: 16px;
}

.musicicon_css {
    background-position: -5px -755px;
    width: 16px;
    height: 16px;
}

.shareicon_css {
    background-position: -4px -1577px;
    width: 16px;
    height: 16px;
}

.sharemenuicon_css {
    background-position: -2px -1574px;
}

.listviewicon_css {
    background-position: -3px -897px;
    width: 16px;
    height: 16px;
}

.thumbnailviewicon_css {
    background-position: -3px -917px;
    width: 16px;
    height: 16px;
}

.openicon_css {
    background-position: -2px -943px;
    width: 10px;
    height: 13px;
}

.openicon_newwindow {
    background-position: -24px -968px;
    width: 12px;
    height: 14px;
}

.movetoicon_css {
    background-position: 0 -963px;
}

.restoreicon_css {
    background-position: -4px -1482px;
    width: 16px;
    height: 16px;
}

.copytoicon_css {
    background-position: 0 -1102px;
}

.editicon_css {
    background-position: -3px -995px;
    width: 14px;
    height: 16px;
}

.viewicon_css {
    background-position: -75px -320px;
    height: 18px;
    color: #22a;
}

.createnewicon_css {
    background-position: -3px -1021px;
    width: 15px;
    height: 15px;
}

.createnewhovericon_css {
    background-position: -3px -1047px;
    width: 108px;
    height: 23px;
}

.viewsicon_css {
    background-position: -3px -1137px;
    width: 58px;
    height: 23px;
}

.viewshovericon_css {
    background-position: -3px -1167px;
    width: 58px;
    height: 23px;
}

.downarrow_css {
    background-position: -4px -1198px;
    width: 7px;
    height: 6px;
}

.delete_css {
    background-position: 1px -1604px;
    width: 16px;
    height: 16px;
}

.plus_css {
    background-position: -3px -1252px;
    width: 16px;
    height: 16px;
}

.foldericon_css {
    background-position: -5px -1294px;
    width: 15px;
    height: 16px;
}

.foldercreate_css {
    background-position: -26px -1295px;
    width: 16px;
    height: 13px;
}

.tagicon_css {
    background-position: -4px -1396px;
    height: 14px;
    width: 13px;
}

.tagicon {
    background-position: -6px -2894px;
}

.tagicon_css_list {
    background-position: -2px -2892px;
}

.exporticon_css {
    background-position: -4px -1423px;
    width: 12px;
    height: 12px;
}

.downloadicon_css {
    background-position: -198px -1453px;
    height: 12px;
    width: 16px;
    vertical-align: middle;
}

.downloadinlineicon_css {
    background-position: -198px -1451px;
    height: 16px;
    width: 16px;
}

.downloadinlineicon_datagrid {
    background-position: -197px -1449px;
    height: 16px;
    width: 16px;
}

.toolbaruploadactive {
    background-position: -4px -1085px;
    height: 15px;
    width: 16px;
}

.toolbarshareactive {
    background-position: -3px -1579px;
    height: 14px;
    width: 16px;
}

.toolbarshareinactive {
    background-position: -7px -1846px;
    height: 22px;
}

.toolbartagactive {
    background-position: 0px -1396px;
    height: 14px;
    width: 18px;
}

.toolbartaginactive {
    background-position: -7px -1878px;
    height: 22px;
}

.toolbarmoveactive {
    background-position: -4px -967px;
    height: 14px;
    width: 16px;
}

.toolbarmoveinactive {
    background-position: -7px -1912px;
    height: 22px;
}

.toolbarcopyactive {
    background-position: -4px -1108px;
    height: 15px;
    width: 15px;
}

.toolbarcopyinactive {
    background-position: -7px -1945px;
    height: 22px;
}

.toolbardeleteactive {
    background-position: -3px -1607px;
    height: 16px;
    width: 16px;
}

.toolbardeleteinactive {
    background-position: -6px -1978px;
    height: 22px;
}

.toolbarrestoreactive {
    background-position: -4px -1485px;
    width: 12px;
    height: 12px;
}

.toolbarrestoreinactive {
    background-position: -7px -2015px;
    height: 22px;
}

.toolbaractionactive {
    height: 22px;
}

.grid-tab-button {
    background-position: 0 -2069px;
    background-repeat: repeat-x;
}

.toolbarTable {
    background-color: #F2F2F2;
    background-repeat: repeat-x;
    padding: 4px 0 3px;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #f9f8f8;
}

.createfoldericon_css {
    background-position: -4px -2115px;
    width: 10px;
    height: 10px;
}

.selectedtab {
    color: #0771D4;
    background-position: 0px -2215px;
    z-index: 1;
    top: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.tabclose_css {
    background-position: -4px -2137px;
    width: 12px;
    height: 20px;
}

.editactiveicon_css {
    background-position: -3px -3910px;
    height: 10px;
    width: 10px;
}

.editinactiveicon_css {
    background-position: -100px -320px;
    height: 16px;
    width: 18px;
}

.downloadinactiveicon_css {
    background-position: 100% -2277px;
    height: 16px;
    width: 16px;
}

.expandAll {
    background-position: -162px -3151px;
    width: 11px;
    height: 11px;
}

.collapseAll {
    background-position: -179px -3151px;
    width: 11px;
    height: 11px;
}

.toolbarcreateactive {
    background-position: -2px -1017px;
    height: 15px;
    width: 14px;
}

.writermenuicon {
    background-position: -4px -525px;
    width: 16px;
    height: 16px;
}

.sheetmenuicon {
    background-position: -4px -594px;
    width: 16px;
    height: 16px;
}

.showmenuicon {
    background-position: -4px -617px;
    width: 13px;
    height: 13px;
}

.foldericon {
    background-position: -5px -1295px;
    width: 13px;
    height: 11px;
}

.preDis {
    background-position: -54px -2346px;
    width: 23px;
    height: 23px;
}

.nextDis {
    background-position: -91px -2346px;
    width: 23px;
    height: 23px;
}

.prev {
    background-position: -54px -2377px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin: 0px !important;
}

.next {
    background-position: -91px -2377px;
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin: 0px !important;
}

.unzipicon_css {
    background-position: -4px -2432px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.minus {
    background-position: -8px -1239px;
    width: 18px;
    height: 13px;
}

.plus {
    background-position: -5px -1258px;
    width: 18px;
    height: 13px;
}

.openFolder {
    background-position: -4px -1336px;
    width: 16px;
    height: 13px;
}

.closeFolder {
    background-position: -4px -1294px;
    width: 16px;
    height: 14px;
}

.shareLeft {
    background-position: -5px -1579px;
    width: 16px;
    height: 14px;
}

.trashLeft {
    background-position: -47px -820px;
    width: 16px;
    height: 16px;
}

.trashlt {
    background-position: -80px -819px;
    width: 16px;
    height: 16px;
}

.shareTome {
    background-position: -5px -2523px;
    width: 16px;
    height: 14px;
}

.shareByme {
    background-position: -5px -2554px;
    width: 16px;
    height: 14px;
}

.group_icon {
    background-position: -7px -2481px;
    width: 16px;
    height: 14px;
}

.org_icon {
    background-position: -3px -2585px;
    width: 15px;
    height: 16px;
}

.shareorg_icon {
    background-position: -5px -3231px;
    color: #000;
    width: 18px;
    height: 24px;
}

.DownArrow,.DownArrowH {
    background-position: -4px -1198px;
    width: 7px;
    height: 6px;
}

.DownArrowH {
    visibility: hidden;
}

.toolBarDownArrow {
    background-position: -4px -1198px;
    height: 4px !important;
    width: 7px !important;
}

.UpArrow,.UpArrowH {
    background-position: -4px -1209px;
    width: 7px;
    height: 6px;
}

.UpArrowH {
    visibility: hidden;
}

.dragDropArrow {
    background-position: -1px -2629px;
    width: 15px;
    height: 6px;
}

.shareuser_icon {
    background-position: -2px -2670px;
    width: 16px;
    height: 16px;
}

.sharegroup_icon {
    background-position: -5px -3203px;
    width: 18px;
    height: 24px;
}

.uploadfiledelete,.uploadfiledeleteSelector {
    background-position: -4px -1610px;
    width: 13px;
    height: 12px;
}

.browseBtn {
    background-position: 0 -2706px;
    height: 22px;
    width: 78px;
    color: #2864b4;
}

.propertiesicon {
    background-position: -3px -2761px;
    width: 13px;
    height: 16px;
}

.addTagicon_css {
    background-position: -6px -2876px;
    width: 16px;
    height: 15px;
}

.usertagicon_css {
    background-position: -4px -1395px;
    height: 15px;
    font-size: 1px;
    width: 15px;
}

.updateVersion_css {
    background-position: -4px -3110px;
    width: 15px;
    height: 14px;
}

.actionsdownloadicon_css {
    background-position: -195px -1448px;
}

.tabfoldericon_css {
    background-position: 8px -1285px;
    border-bottom: 0 solid #b0d2f1 !important;
}

.treetabdiv .closeFolder {
    background-position: -1px -1290px;
    width: 20px;
    height: 22px;
}

.tabtagicon_css {
    background-position: 0 -1392px;
    width: 20px;
    height: 22px;
}

.tabgroupicon_css {
    background-position: -181px -3168px;
    height: 22px;
    width: 25px;
}

.leftmenugroupicon {
    background-position: 0 -3208px;
    height: 24px;
    width: 20px;
}

.leftmenuorggroupicon {
    background-position: -6px -3235px;
    height: 18px;
    width: 18px;
}

.shareorggroup_icon {
    background-position: -6px -3235px;
    height: 18px;
    width: 18px;
}

.grouptitle-icon {
    background-position: -144px -3170px;
    width: 16px;
    height: 16px;
}

.creategroup-icon {
    background-position: -102px -3173px;
    width: 27px;
    height: 15px;
}

.groupchat-icon {
    background-position: -81px -3146px;
    width: 16px;
    height: 16px;
}

.groupmail-icon {
    background-position: -117px -3146px;
    width: 16px;
    height: 16px;
}

.organaization-icon {
    background-position: 1px -3172px;
    height: 14px;
    width: 18px;
}

.createorggroup-icon {
    background-position: -40px -3172px;
    height: 15px;
    width: 27px;
}

.orgchat-icon {
    background-position: -45px -3149px;
    width: 22px;
    height: 16px;
}

.orgmail-icon {
    background-position: 0 -3149px;
    width: 21px;
    height: 15px;
}

.chat-activeIcon {
    background-position: -116px -164px;
    width: 9px;
    height: 9px;
}

.chat-busyIcon {
    background-position: -132px -164px;
    width: 9px;
    height: 9px;
}

.chat-idleIcon {
    background-position: -148px -164px;
    width: 9px;
    height: 9px;
}

.chat-deactiveIcon {
    background-position: -163px -164px;
    width: 9px;
    height: 9px;
}

.grouphome-Icon {
    background-position: -184px -160px;
    height: 24px;
    width: 24px;
}

.chat-icon {
    background-position: -100px -3151px;
    width: 31px;
    height: 13px;
}

.groupmemberlist-Icon {
    background-position: -4px -3265px;
    width: 23px;
    height: 16px;
}

.admin-Icon {
    background-position: -195px -328px;
    height: 14px;
    width: 13px;
}

.newmenugroupicon {
    background-position: -4px -3209px;
    width: 19px;
    height: 10px;
}

.addmemberIcon {
    background-position: -189px -3295px;
    width: 17px;
    height: 14px;
}

.contactDelete {
    background-position: -8px -2319px;
    width: 10px;
    height: 10px;
}

.ws,.ws_sharedetails {
    background-position: -4px -3429px;
    width: 14px;
    height: 15px;
}

.ws_sharedetails {
    _background-position: -4px -3426px;
}

.ws_add {
    background-position: -4px -3405px;
    width: 12px;
    height: 15px;
}

.add-workspaces {
    background-position: -30px -3427px;
    width: 13px;
    height: 16px;
}

.ws_open {
    background-position: -4px -3451px;
    width: 14px;
    height: 16px;
}

.sharedws {
    background-position: -4px -3497px;
    width: 13px;
    height: 15px;
}

.sharedws_open {
    background-position: -4px -3518px;
    width: 14px;
    height: 16px;
}

.ws-auth {
    background-position: -33px -3263px;
    width: 14px;
    height: 14px;
}

.reviewsIcon_css {
    background-position: -4px -3543px;
    width: 16px;
    height: 15px;
}

.inactive-favIcon {
    background-position: -51px -3293px;
    width: 16px;
    height: 16px;
}

.active-favIcon {
    background-position: -29px -3293px;
    width: 16px;
    height: 16px;
}

.inactive-starIcon {
    background-position: -5px -800px;
    width: 14px;
    height: 13px;
}

.active-starIcon {
    background-position: -29px -800px;
    width: 14px;
    height: 13px;
}

.reviewsIcon {
    background-position: -4px -3545px;
    width: 16px;
    height: 15px;
}

.checkinicon {
    background-position: -4px -3571px;
    height: 15px;
    width: 14px;
}

.checkinicon_locked {
    background-position: 0 -3567px;
    height: 24px;
}

.checkouticon {
    background-position: -4px -3594px;
    height: 16px;
    width: 14px;
}

.mycheckout_css {
    background-position: -44px -347px;
    height: 17px;
    width: 16px;
}

.checkin_inactive {
    background-position: -7px -2040px;
    width: 12px;
    height: 14px;
}

.delete_icon {
    background-position: -5px -1611px;
    width: 13px;
    height: 12px;
}

.detail_icon {
    width: 15px;
    height: 15px;
    background-position: -3px -2761px;
}

.invite_icon {
    width: 16px;
    height: 14px;
    background-position: -5px -1579px;
}

.all-files,.sr-imageicon_css,.sr-musicicon_css,.sr-video-icon,.sr-pdficon_css,.sr-zipicon_css {
    background-position: -4px -1366px;
}

.sr-imageicon_css {
    background-position: -4px -686px;
}

.sr-musicicon_css {
    background-position: -4px -755px;
}

.sr-video-icon {
    background-position: -4px -663px;
}

.sr-pdficon_css {
    background-position: -4px -640px;
}

.sr-zipicon_css {
    background-position: -4px -547px;
}

.filterbg {
    background-position: 0 -1719px;
    width: 157px;
    height: 18px;
    padding: 5px 0 0 5px;
}

.active-favoritesIcon {
    background-position: -27px -799px;
    width: 16px;
    height: 15px;
}

.inactive-favoritesIcon {
    background-position: -49px -799px;
    width: 16px;
    height: 15px;
    opacity: 0.7;
}

.inactive-favoritesIcon:hover {
    opacity: 1;
}

.showgoogleicon {
    background-position: -4px -3734px;
    width: 16px;
    height: 14px;
}

.nav_arrow {
    background-position: -6px -3643px;
    height: 7px;
    margin-top: 8px;
    vertical-align: top;
    width: 7px;
}

.works_hd {
    background-position: right -3680px;
    background-color: #a4caee;
    color: #fff;
    height: 27px;
    line-height: 22px;
    margin-right: 10px;
    padding: 0px 25px 0px 5px;
    float: left;
}

.works_hd a {
    color: #fff;
}

.propertiesicon_css {
    background-position: -3px -2759px;
    width: 16px;
    height: 17px;
}

ul.navigation {
    margin: 0px;
    padding: 0px;
}

ul.navigation li {
    color: #000;
    float: left;
    line-height: 22px;
    list-style: none;
    margin: 0px 10px 0px 0px;
}

.createsubfolder {
    background-position: -2px -1330px;
}

/*.searcharrow{background-position:-180px -3556px;width:31px;height:18px;}.searchgo{background-position:-158px -3518px;height:18px;width:56px;border:0 none;background-color:transparent;} */
.mark {
    background-position: 0 -271px;
    width: 18px;
    height: 20px;
}

.openinwindow_css {
    background-position: 0 -3833px;
}

.view_css {
    background-position: -4px -3864px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.bulkupload_css {
    background-position: -3px -3883px;
    width: 16px;
    height: 16px;
}

.ws-addfile {
    background-position: -4px -3842px;
    width: 16px;
    height: 16px;
}

.review_arrow {
    background-position: -4px -3979px;
    width: 18px;
    height: 9px;
}

.refresh_icon {
    background-position: -43px -372px;
    width: 18px;
    height: 17px;
}

.share-bg {
    background-position: 0 -2255px;
    background-repeat: repeat;
    border: 1px solid #E0DEDE;
    color: #000;
    display: block;
    height: 18px;
    text-align: center;
}

.full_preview {
    background-position: -4px -4047px;
    height: 15px;
    width: 15px;
}

.normal_preview {
    background-position: -4px -4077px;
    height: 15px;
    width: 15px;
}

.action-css {
    background-position: -4px -2648px;
    width: 16px;
    height: 16px;
}

.menudiv {
    position: absolute;
    z-index: 2000;
}

.normalcheckboxicon_css {
    background-position: -30px -838px;
    height: 24px;
    width: 27px;
}

.normalcheckboxicon_css:hover {
    background-position: -131px -838px;
    height: 24px;
    width: 27px;
}

.selectcheckboxicon_css {
    background-position: -78px -838px;
    height: 24px;
    width: 27px;
}

.normalallcheckboxicon_css {
    background-position: -30px -838px;
    height: 24px;
    width: 27px;
}

.normalallcheckboxicon_css:hover {
    background-position: -131px -838px;
    height: 24px;
    width: 27px;
}

.selectallcheckboxicon_css {
    background-position: -78px -838px;
    height: 24px;
    width: 27px;
}

.disablecheckbox_css {
    background-position: -181px -838px;
    height: 24px;
    width: 27px;
    line-height: 13px;
}

#toolbarRow a:hover {
    background: transparent url(/images/index-img.gif) repeat-x scroll 0 -1650px;
}

#toolbarRow a:hover div.normal {
    background: transparent url(/images/index-img.gif) repeat-x scroll 100% -1680px;
}

.delete-small {
    background-position: -35px -1614px;
    height: 7px;
    width: 7px;
}

.document-name {
    background-position: -48px -417px;
    width: 12px;
    height: 13px;
}

.content-search {
    background-position: -48px -444px;
    width: 13px;
    height: 14px;
}

.author-name {
    background-position: -47px -468px;
    width: 16px;
    height: 16px;
}

.search-all {
    background-position: -49px -493px;
    width: 12px;
    height: 12px;
}

.search-ui {
    background-position: -67px -492px;
    width: 16px;
    height: 16px;
}

.movearrow {
    background-position: -185px -408px;
    width: 26px;
    height: 24px;
}

.info-icon {
    background-position: -88px -1183px;
    height: 35px;
    width: 35px;
}

.alert-icon {
    background-position: -86px -1137px;
    height: 33px;
    width: 37px;
}

.org-mem-chat {
    background-position: -31px -3206px;
    height: 14px;
    width: 14px;
}

.ws-invite {
    background-position: -64px -3429px;
    height: 15px;
    width: 13px;
}

.grey-arrow {
    background-position: -35px -196px;
    height: 7px;
    width: 4px;
}

.ws-upload {
    background-position: -4px -3405px;
    height: 15px;
    width: 14px;
}

.ws-unsubs {
    background-position: -94px -3428px;
    height: 16px;
    width: 16px;
}

.ws-chat {
    background-position: -156px -3457px;
    height: 16px;
    width: 16px;
}

.ws-share {
    background-position: -64px -3460px;
    height: 15px;
    width: 14px;
}

.ws-shared-chat {
    background-position: -104px -3457px;
    height: 18px;
    width: 19px;
}

.ws-detail {
    background-position: -39px -3459px;
    height: 16px;
    width: 14px;
}

.ws-inviteuser {
    background-position: -188px -3429px;
    height: 16px;
    width: 16px;
}

.filesend {
    background-position: -96px -2521px;
    height: 15px;
    width: 16px;
}

.email-in {
    background-position: -40px -4009px;
    height: 12px;
    width: 16px;
}

.document_detail {
    background-position: -42px -2521px;
    height: 13px;
    width: 12px;
}

.editIcon {
    background-position: -43px -3909px;
    height: 12px;
    width: 12px;
}

.addnote {
    background-position: -30px -1519px;
    height: 15px;
    width: 14px;
}

.comment {
    background-position: -59px -1516px;
    height: 23px;
    width: 26px;
}

.success {
    background-position: -61px -1609px;
    width: 15px;
    height: 15px;
}

.un-success {
    background-position: -92px -1609px;
    width: 15px;
    height: 15px;
}

.downarrow-icon {
    background-position: -60px -3208px;
    width: 13px;
    height: 13px;
    margin-top: 2px;
}

.uparrow-icon {
    background-position: -87px -3208px;
    width: 13px;
    height: 13px;
    margin-top: 2px;
}

.lock-icon {
    background-position: -108px -641px;
    width: 16px;
    height: 16px;
}

.pptslide {
    background-position: -128px -638px;
    width: 16px;
    height: 20px !important;
}

.backfile {
    background-position: -39px -1551px;
    width: 16px;
    height: 13px;
}

a.search_arrow {
    background-position: -117px -198px;
    height: 8px;
    width: 9px;
    margin: 7px 0 0 0;
}

.powered_zoho {
    background-image: url(images/index-img.gif);
    background-repeat: no-repeat;
    background-position: -1px -1756px;
    width: 55px;
    height: 19px;
    float: right;
}

.wms-sm .powered_zoho {
    margin-top: -2px !important;
    border: 0px solid red;
    position: absolute;
    right: 3px;
}

.searcharrow {
    background-position: -179px -3556px !important;
    width: 34px;
    height: 20px;
}

.searchgo {
    background-position: -165px -3518px !important;
    height: 20px;
    width: 48px;
    border: 0 none;
    background-color: transparent;
}

.share-remove {
    background-position: -55px -1579px;
    height: 14px;
    width: 16px;
}

.create_new {
    background-position: -74px -2113px;
    height: 11px;
    width: 10px;
}

.create_folder {
    background-position: -29px -1337px;
    height: 16px;
    width: 16px;
}

.create_group {
    background-position: -102px -3174px;
    height: 12px;
    width: 22px;
}

.mail-edit {
    background-position: -42px -2554px;
    width: 16px;
    height: 12px;
}

.mail-hide {
    background-position: -75px -2554px;
    width: 15px;
    height: 12px;
}

.viewer {
    background-position: -41px -3039px;
    height: 16px;
    width: 15px;
}

.collaborator {
    background-position: -42px -3068px;
    height: 13px;
    width: 12px;
}

.co-owner {
    background-position: -42px -3094px;
    height: 14px;
    width: 12px;
}

.template {
    background-position: -48px -900px;
    height: 15px;
    width: 14px;
}

.searchIcon {
    background-position: -83px -3060px;
    width: 12px;
    height: 12px;
}

.getstart {
    background-position: -4px -4110px;
    width: 17px;
    height: 17px !important;
}

.zfd-comment {
    background-position: -8px -4432px;
    width: 30px;
    height: 30px;
}

.zfd-upload {
    background-position: -105px -4432px;
    width: 30px;
    height: 30px;
}

.zfd-task {
    background-position: -156px -4432px;
    width: 30px;
    height: 30px;
}

.zfd-comment {
    background-position: -8px -4432px;
    width: 30px;
    height: 30px;
}

#constructTaskFeedsUI .zfd-action {
    display: none;
}

#constructTaskFeedsUI:hover .zfd-action {
    display: block;
}

.zfd-action {
    background-position: -83px -729px;
    width: 13px;
    height: 13px;
}

.zfd-action:hover {
    background-position: -107px -729px;
    width: 13px;
    height: 13px;
}

.feedlftblk .zfd-action {
    display: none;
}

.indFeedfeedlftblk .zfd-action {
    display: none;
}

.feedlftblk:hover .zfd-action {
    display: block !important;
}

.indFeedfeedlftblk:hover .zfd-action {
    display: block !important;
}

.menuvisible {
    background-position: -107px -729px !important;
    width: 13px;
    height: 13px;
    display: block !important ;
}

.home-dash {
    background-position: -129px -582px;
    width: 16px;
    height: 16px;
}

.zfd-checkin {
    background-position: -56px -4480px;
    width: 30px;
    height: 30px;
}

.zfd-checkout {
    background-position: -56px -4432px;
    width: 30px;
    height: 30px;
}

.zfd-share {
    background-position: -7px -4481px;
    width: 30px;
    height: 30px;
}

.zfd-cmn {
    background-position: -103px -4480px;
    width: 30px;
    height: 30px;
}

.zfd-sts {
    background-position: -154px -4480px;
    width: 30px;
    height: 30px;
}

.zfd-orgmem {
    background-position: -171px -3116px;
    width: 16px;
    height: 15px;
}

.ac-plus {
    background-position: -48px -727px;
    width: 9px;
    height: 9px;
}

.ac-minus {
    background-position: -48px -748px;
    width: 9px;
    height: 9px;
}

.recentdocs {
    background-position: -46px -674px;
    height: 16px;
    width: 14px;
}

.favorite-files {
    background-position: -45px -641px;
    height: 16px;
    width: 14px;
}

.feed-icon {
    background-position: -64px -2758px;
    height: 22px;
    width: 22px;
}

.ws-sm {
    background-position: -64px -3405px;
    height: 14px;
    width: 12px;
}

.create_wsfolder {
    background-position: -29px -1316px;
    height: 11px;
    width: 13px;
}

.sortfield:hover > img.DownArrowH {
    visibility: visible;
}

.sortfield:hover > img.UpArrowH {
    visibility: visible;
}

.feed_lftarrow {
    background-position: -4px -168px;
    height: 9px;
    width: 5px;
}

.feed_rhtarrow {
    background-position: -20px -168px;
    height: 9px;
    width: 5px;
}

.close_icon {
    background-position: -4px -2142px;
    width: 12px;
    height: 12px;
}

.info_icon {
    background-position: -86px -1089px;
    height: 36px;
    width: 36px;
}

.grey_close_icon {
    background-position: -99px -2142px;
    width: 12px;
    height: 12px;
}

.blue-info {
    background-position: -91px -2758px;
    width: 22px;
    height: 22px;
}

.select-icon {
    background-position: -35px -3844px;
    height: 10px;
    width: 10px;
}

.search-tickmark {
    background-position: -2px -274px;
    height: 15px;
    width: 15px;
}

docscomponent.css (line 7).history-icon {
                              background-position: -69px -3237px;
                              height: 15px;
                              width: 15px;
                          }

.chart-icon {
    background-position: -94px -3237px;
    height: 15px;
    width: 15px;
}

.pie-icon {
    background-position: -117px -3237px;
    height: 15px;
    width: 15px;
}

.fetch-icon {
    background-position: -48px -3240px;
    height: 11px;
    width: 11px;
}

.alert-css {
    background-image: url("../../images/alert-icon.png") !important;
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
}

.ui-xlsx {
    background-position: -97px -3680px;
    width: 16px;
    height: 16px;
}

.ui-xls {
    background-position: -67px -3710px;
    width: 16px;
    height: 16px;
}

.ui-ods {
    background-position: -125px -3740px;
    width: 16px;
    height: 16px;
}

.ui-csv {
    background-position: -183px -3770px;
    width: 16px;
    height: 16px;
}

.ui-pdf {
    background-position: -125px -3770px;
    width: 16px;
    height: 16px;
}

.ui-gnumeric {
    background-position: -96px -3770px;
    width: 16px;
    height: 16px;
}

.ui-tsv {
    background-position: -68px -3800px;
    width: 16px;
    height: 16px;
}

.ui-doc {
    background-position: -187px -3680px;
    width: 16px;
    height: 16px;
}

.ui-docx {
    background-position: -67px -3680px;
    width: 16px;
    height: 16px;
}

.ui-txt {
    background-position: -95px -3800px;
    width: 16px;
    height: 16px;
}

.ui-odt {
    background-position: -95px -3740px;
    width: 16px;
    height: 16px;
}

.ui-sxw {
    background-position: -156px -3710px;
    width: 16px;
    height: 16px;
}

.ui-sxc {
    background-position: -187px -3709px;
    width: 16px;
    height: 16px;
}

.ui-sxi {
    background-position: -66px -3740px;
    width: 16px;
    height: 16px;
}

.ui-rtf {
    background-position: -67px -3770px;
    width: 16px;
    height: 16px;
}

.ui-html {
    background-position: -153px -3770px;
    width: 16px;
    height: 16px;
}

.ui-pps {
    background-position: -126px -3710px;
    width: 16px;
    height: 16px;
}

.ui-ppt {
    background-position: -97px -3710px;
    width: 16px;
    height: 16px;
}

.ui-pptx {
    background-position: -127px -3680px;
    width: 16px;
    height: 16px;
}

.ui-ppsx {
    background-position: -156px -3680px;
    width: 16px;
    height: 16px;
}

.ui-odp {
    background-position: -155px -3740px;
    width: 16px;
    height: 16px;
}

.calendarIcon {
    background-position: -77px -641px;
    width: 15px;
    height: 16px;
}

.ui-icon-circle-triangle-w {
    background-position: -146px -193px;
    width: 16px;
    height: 16px;
}

.ui-icon-circle-triangle-e {
    background-position: -94px -193px;
    width: 16px;
    height: 16px;
}

.delete-grey {
    background-position: -32px -1636px;
    width: 15px;
    height: 15px;
}

.cm-arrow {
    background-position: -112px -3206px;
    width: 8px;
    height: 16px;
}

.add-task {
    background-position: -77px -673px;
    width: 16px;
    height: 16px;
}

.add-task_datagrid {
    background-position: -77px -672px;
    width: 16px;
    height: 16px;
}

.ts-notic {
    background-position: -158px -3206px;
    width: 18px;
    height: 10px;
}

.ws-notic {
    background-position: -158px -3206px;
    width: 18px;
    height: 10px;
}

.ts-noticbtm {
    background-position: -189px -3209px;
    width: 18px;
    height: 10px;
}

.add-task-notic {
    background-position: -76px -692px;
    width: 18px;
    height: 18px;
}

.feed-notic {
    background-position: -170px -693px;
    width: 16px;
    height: 16px;
    opacity: 1
}

.ui-icon-loader {
    background-image: url(images/loading.gif) !important;
    width: 16px;
    height: 16px;
    float: left;
}

.breadcms {
    background-position: -1px -1664px;
    width: 12px;
    height: 35px;
}

.propthp {
    background-position: -68px -3841px;
    width: 16px;
    height: 16px;
}

.prevzip {
    background-position: -3px -1826px;
    width: 100px;
    height: 128px;
}

.prevpdf {
    background-position: -112px -1972px;
    width: 100px;
    height: 128px;
}

.prevmp3 {
    background-position: -112px -1826px;
    width: 100px;
    height: 128px;
}

.prevmp4 {
    background-position: -3px -1972px;
    width: 100px;
    height: 128px;
}

.lockspan {
    padding-left: 0px;
    line-height: 15px;
    display: inline-block;
}

.hoverlockspan:hover {
    text-decoration: underline;
    cursor: pointer;
}

.lockspan:hover {
    text-decoration: underline;
    cursor: pointer;
}

.docprvew {
    background-position: -163px -639px;
    width: 14px;
    height: 18px !important;
}

.revuarrow {
    background-position: -7px -195px;
    width: 11px;
    height: 11px;
    opacity: 0.7;
    margin-left: 5px;
}

.revdarrow {
    background-position: -56px -195px;
    width: 11px;
    height: 11px;
    opacity: 0.7;
    margin-left: 5px;
}

.dprogmax {
    background-position: -118px -2120px;
    width: 15px;
    height: 15px;
}

.dprogmin {
    background-position: -146px -2120px;
    width: 16px;
    height: 16px;
}

.dprogmix {
    background-position: -170px -2120px;
    width: 16px;
    height: 16px;
}

.zdcembed {
    background-position: -104px -2553px;
    width: 16px;
    height: 16px;
}

.zdcfb {
    background-position: -50px -2875px;
    width: 16px;
    height: 16px;
}

.zdctwit {
    background-position: -76px -2875px;
    width: 16px;
    height: 16px;
}

.zdczomplus {
    background-position: -130px -2552px;
    width: 17px;
    height: 17px;
}

.zdczomminus {
    background-position: -161px -2552px;
    width: 17px;
    height: 17px;
}

.zdcrotatlft {
    background-position: -130px -2580px;
    width: 16px;
    height: 16px;
}

.zdcrotatrht {
    background-position: -162px -2579px;
    width: 16px;
    height: 16px;
}

.ui-setting {
    background-position: -4px -2648px;
    width: 16px;
    height: 16px;
    margin: 3px 0 0 3px;
}

.ownedbyme {
    background-position: -6px -2906px;
    width: 16px;
    height: 16px;
}

.dropbox-icon {
    background-position: -106px -691px;
    width: 18px;
    height: 18px;
}

.error-msg {
    background-position: -140px -694px;
    width: 14px;
    height: 14px;
}

.ws-addgroup {
    background-position: -49px -3404px;
    width: 16px;
    height: 16px;
}

.templt-lft {
    background-position: -87px -581px;
    width: 16px;
    height: 16px;
}

.templt-rht {
    background-position: -108px -581px;
    width: 16px;
    height: 16px;
}

.wsl-pws {
    background-position: -51px -3262px;
    width: 16px;
    height: 16px;
}

.wsl-sws {
    background-position: -69px -3261px;
    width: 16px;
    height: 16px;
}

.wsl-org {
    background-position: -88px -3262px;
    width: 16px;
    height: 16px;
}

.feed-notic {
    background-position: -170px -693px;
    width: 16px;
    height: 16px;
}

.fold_shared {
    background-position: -53px -1295px;
    width: 16px;
    height: 15px;
}

.acc-right-arrow {
    background-position: -32px -194px;
    height: 7px;
    width: 4px;
}

.acc-down-arrow {
    background-position: -1px -1193px;
    width: 7px;
    height: 6px;
}

.orgpubliclock-icon {
    background-position: -156px -2520px;
    width: 17px;
    height: 16px;
}

.downarrow {
    background-position: -5px -1194px;
    width: 7px;
    height: 6px;
}

.prolificusers {
    background-position: -23px -2672px;
    width: 12px;
    height: 13px;
}

.uplduparrow {
    background-position: -116px -210px;
    height: 4px !important;
    width: 7px !important;
    margin: 8px 10px 0 0;
}

.arrow_transp {
    background-position: -72px -520px;
    height: 5px;
    width: 7px;
}

.adminpanel_icon {
    background-position: -4px -2648px;
    width: 15px;
    height: 18px;
}

.zfeed-attach {
    background-position: -154px -1381px;
    height: 16px;
    width: 16px;
}

.zpr-add-task {
    background-position: -88px -1295px;
    width: 16px;
    height: 16px;
}

.zpr-comment {
    background-position: -111px -1295px;
    width: 16px;
    height: 16px;
}

.zpr-download {
    background-position: -138px -1295px;
    width: 16px;
    height: 16px;
}

.zpr-share {
    background-position: -162px -1295px;
    width: 16px;
    height: 16px;
}

.zpr-closebtn {
    background-position: -88px -1332px;
    width: 30px;
    height: 28px;
}

.zpr-fullscr {
    background-position: -189px -1295px;
    width: 16px;
    height: 16px;
}

.zfeed-ws {
    background-position: -151px -1325px;
    width: 13px;
    height: 17px;
}

.zfeed-folder {
    background-position: -125px -1328px;
    width: 10px;
    height: 12px;
}

.zfeed-taskdue {
    background-position: -169px -1331px;
    width: 13px;
    height: 14px;
}

.zfd-play {
    background-position: -122px -1380px;
    width: 21px;
    height: 21px;
}

.zfd-player {
    opacity: 0.6;
}

.zfd-player:hover {
    opacity: 0.9;
}

.zfd-pause {
    background-position: -91px -1380px;
    width: 21px;
    height: 21px;
}

.feed-vply {
    background-position: -75px -4540px;
    height: 39px;
    margin: 9px 71px;
    opacity: 0.7;
    width: 39px;
}

.feed-vply:hover, .zfeed-mpplay:hover,.vplayerbg:hover .feed-vply {
    opacity: 1;
}

.formicon_css {
    background-position: -3px -521px;
    width: 16px;
    height: 18px;
}

.formicongrey_css {
    background-position: -3px -497px;
    width: 16px;
    height: 18px;
}

.file-newtabview {
    background-position: -190px -1275px;
    width: 13px;
    height: 13px;
}

.toolbareditws {
    background-position: -74px -3909px;
    height: 14px;
    width: 16px;
}

.zdLrote {
    background-position: -133px -2602px;
    width: 16px;
    height: 16px;
}

.zdRrote {
    background-position: -162px -2602px;
    width: 16px;
    height: 16px;
}

.as-stats {
    background-position: -73px -3312px;
    width: 15px;
    height: 15px;
}